.jolly-lodger-regular {
    font-family: "Jolly Lodger", serif;
    font-weight: 400;
    font-style: normal;
  } 

  .megrim-regular {
    font-family: "Megrim", serif;
    font-weight: 400;
    font-style: normal;
  }

  // In the aftermath of the recent fires in Southern California -- most notably the Palisade fires -- that left a trail of destruction and loss, we felt a need to create a tool that can empower individuals with the knowledge and resources to make informed decisions when considering different housing locations.<br/><br/>Why FireGuard? The recent fires highlighted the significance of preparedness and understanding potential risks associated with living in areas prone to fires. Our team gathered with a shared vision: to create a platform that combines fire risk assessment with real estate information. In addition to the fire statistics, we also display the price of each property, so that users understand both the financial and safety aspects of their potential homes. Moreover, by making this information easily accessible, we hope to raise awareness about fire risks and contribute to safer communities.
color: black;
 font-size: 33px;
 font-family: Jolly Lodger;
 font-weight: 400;
 word-wrap: break-word
---
// About Us
color: white;
 font-size: 77px;
 font-family: Megrim;
 font-weight: 500;
 word-wrap: break-word;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
---
// Ben Ancho<br/>
color: black;
 font-size: 30px;
 font-family: Jolly Lodger;
 font-weight: 400;
 word-wrap: break-word
---
// Data Science, Class of 2028
color: black;
 font-size: 25px;
 font-family: Jolly Lodger;
 font-weight: 400;
 word-wrap: break-word
---
// Nikita Huynh<br/>
color: black;
 font-size: 30px;
 font-family: Jolly Lodger;
 font-weight: 400;
 word-wrap: break-word
---
// Computer Science, Class of 2028
color: black;
 font-size: 25px;
 font-family: Jolly Lodger;
 font-weight: 400;
 word-wrap: break-word
---
// Anika Jain<br/>
color: black;
 font-size: 30px;
 font-family: Jolly Lodger;
 font-weight: 400;
 word-wrap: break-word
---
// Computer Science, Class of 2028
color: black;
 font-size: 25px;
 font-family: Jolly Lodger;
 font-weight: 400;
 word-wrap: break-word
---
// Rex Nuaert<br/>
color: black;
 font-size: 30px;
 font-family: Jolly Lodger;
 font-weight: 400;
 word-wrap: break-word
---
// Data Science, Class of 2028
color: black;
 font-size: 25px;
 font-family: Jolly Lodger;
 font-weight: 400;
 word-wrap: break-word